---
import Layout from "../layouts/WindowLayout.astro";
---

<Layout>
    <div class="window-body has-space">
        <h1>Unfinished! Shoo! Go Away!</h1>
        <p>Sorry that was a bit rude wasn't it.</p>
    </div>
</Layout>
