---
import Layout from "../layouts/WindowLayout.astro";
---

<Layout>
    <div class="window-body has-space">
        <h1 style="color: orange">Hi there! I am Neptune!</h1>
        <p>Astro my beloved.</p>

        <p>Site Completion: (Lets see if this hits 100%!)</p>
        <div
            role="progressbar"
            class="animate"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="80"
        >
            <div style="width: 0.20%"></div>
        </div><br />
    </div>
</Layout>
