<div class="window glass active" style="min-width: 400px; min-height: 90%;">
    <div class="title-bar">
        <div class="title-bar-text"></div>
        <div class="title-bar-controls">
            <button aria-label="Close" onclick="window.location.href = '/'"
            ></button>
        </div>
    </div>
    <div class="window-body has-space">
        <slot />
    </div>
</div>
