---
import "7.css/dist/7.css";
import Window from "../components/Window.astro";
import TopWindow from "../components/TopWindow.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Neptunevile</title>
        <meta name="description" content="" />

        <!-- Open Graph Meta Tags -->
        <meta property="og:url" content="http://neptunethefox.github.io" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Neptunevile" />
        <meta property="og:description" content="Goog..." />
        <meta
            property="og:image"
            content="https://static.soggy.cat/ssoggycat/goog/images/goog.webp"
        />
    </head>
    <body>
        <div class="container">
            <TopWindow>
                <div class="burls">
                    <a href="/">Home</a>
                    <a href="/yap-sessions">Yap Sessions</a>
                </div>
            </TopWindow>
            <div
                class="window glass active"
                style="max-width: 1000px; background-attachment: local;"
            >
                <div class="title-bar">
                    <div class="title-bar-text">Neptunevile</div>
                    <div class="title-bar-controls">
                        <button
                            aria-label="Close"
                            onclick="window.location.href = '/'"></button>
                    </div>
                </div>
                <slot />
            </div>
            <Window title="Buttons" style="max-width: 1000px;">
                <div class="buttons">
                    <a href="https://zen-browser.app/">
                        <img src="/88x31/zen.png" height="31" />
                    </a>
                    <a href="https://astro.build/">
                        <img src="/88x31/astro.png" height="31" />
                    </a>
                    <img src="/88x31/paws.png" height="31" />
                    <img src="/88x31/aibad.webp" height="31" />
                    <img src="/88x31/badapple.gif" height="31" />
                    <a href="https://github.com/neptunethefox">
                        <img
                            src="https://88x31.kate.pet/github.png"
                            height="31"
                        />
                    </a>
                    <a href="https://pages.github.com/">
                        <img src="/88x31/pages.png" height="31" />
                    </a>
                    <a href="https://godotengine.org/">
                        <img
                            src="https://88x31.kate.pet/godot.png"
                            height="31"
                        />
                    </a>
                    <img
                        src="https://88x31.kate.pet/madeon_linux.gif"
                        height="31"
                    />
                </div>
            </Window>
        </div>
    </body>
</html>

<!-- Cry about it. Thats right! I AM USING STYLE TAGS AND NOBODY CAN STOP ME HAHAHAHAHHAHAHHAHAHAHAH!!!!-->
<style>
    body {
        display: flex;
        gap: 16px;
        flex-direction: row;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        background-image: url(https://static.soggy.cat/ssoggycat/goog/images/goog.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .buttons {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
    }

    img {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
    }
</style>
